/*
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: black;
  background-color: var(--grey);
  /*
  font-family: "Open Sans", sans-serif;
  */
  font-family: "Roboto Slab", serif;
}

body:after {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
